
<!--sidebar-wrapper-->
<div class="sidebar-wrapper" data-simplebar="true">
    <div class="sidebar-header">
        <div class="">
            <img src="~/assets/images/logo-icon.png" class="logo-icon-2" alt="" />
        </div>
        <div>
            <h4 class="logo-text">EmailApp</h4>
        </div>
        <a href="javascript:;" class="toggle-btn ms-auto">
            <i class="bx bx-menu"></i>
        </a>
    </div>

    <!--navigation-->
    <ul class="metismenu" id="menu">
        <!-- Yeni Email Butonu -->
        <li>
            <a href="/Email/Compose" class="has-arrow">
                <div class="parent-icon icon-color-1">
                    <i class="bx bx-edit-alt"></i>
                </div>
                <div class="menu-title">Yeni Email</div>
            </a>
        </li>

        <!-- Email Klasörleri -->
        <li class="menu-label">Klasörler</li>

        <li>
            <a href="/Email/Inbox">
                <div class="parent-icon icon-color-2">
                    <i class="bx bx-envelope"></i>
                </div>
                <div class="menu-title">Gelen Kutusu</div>
                <div class="ms-auto">
                    <span class="badge rounded-pill bg-primary">12</span>
                </div>
            </a>
        </li>

        <li>
            <a href="/Email/Starred">
                <div class="parent-icon icon-color-3">
                    <i class="bx bx-star"></i>
                </div>
                <div class="menu-title">Yıldızlı</div>
            </a>
        </li>

        <li>
            <a href="/Email/Sent">
                <div class="parent-icon icon-color-4">
                    <i class="bx bx-send"></i>
                </div>
                <div class="menu-title">Gönderilenler</div>
            </a>
        </li>

        <li>
            <a href="/Email/Draft">
                <div class="parent-icon icon-color-5">
                    <i class="bx bx-edit"></i>
                </div>
                <div class="menu-title">Taslaklar</div>
                <div class="ms-auto">
                    <span class="badge rounded-pill bg-secondary">5</span>
                </div>
            </a>
        </li>

        <li>
            <a href="/Email/Trash">
                <div class="parent-icon icon-color-6">
                    <i class="bx bx-trash"></i>
                </div>
                <div class="menu-title">Çöp Kutusu</div>
            </a>
        </li>

        <!-- Kategoriler -->
        <li class="menu-label">Kategoriler</li>

        <li>
            <a href="/Email/Unread">
                <div class="parent-icon icon-color-7">
                    <i class="bx bx-envelope-open"></i>
                </div>
                <div class="menu-title">Okunmamış</div>
            </a>
        </li>

        <li>
            <a href="/Email/Important">
                <div class="parent-icon icon-color-8">
                    <i class="bx bx-flag"></i>
                </div>
                <div class="menu-title">Önemli</div>
            </a>
        </li>
    </ul>
    <!--end navigation-->
</div>
<!--end sidebar-wrapper-->