@model Project2EmailNight.Dtos.UserEditDto
@{
    Layout = null;
}
@* <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<div>
    <br /> <br />
    <form method="post" enctype="multipart/form-data">
        <input type="text" asp-for="Name" class="form-control" placeholder="Adınız"  />
        <br />
        <input type="text" asp-for="SurName" class="form-control" placeholder="Soyadınız" />
        <br />
        <input type="text" asp-for="Email" class="form-control" placeholder="Email Adresi" />
        <br />
        <input type="file" asp-for="Image" class="form-control" placeholder="GörselUrl" />
        <br />
        <input type="text" asp-for="Password" class="form-control" placeholder="Şifreniz" />
        <br />
        <button class="btn btn-info"> Bilgileri Kaydet</button>



    </form>


</div> *@