@model Project2EmailNight.Entities.Message
@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<form method="post">

 @*    <div class="container">
        <br /><br />
        <label> Alıcı Email</label>
        <input type="text" asp-for="ReceiverEmail" class="form-control" />
        <br />

        <label>Konu</label>
        <input type="text" asp-for="Subject" class="form-control" />
        <br />
        <label>Mesaj</label>
        <input type="text" asp-for="MessageDetail" class="form-control" />
        <br />
        <button class="btn btn-primary">Mesajı Gönder</button>

    </div> *@

</form>


